
#grid {
	position:absolute;
	top:0;left:0;
	background-color:#ddd;
	width:0;height:0;
	background-repeat:no-repeat;
	background-size:100% 100%;
	cursor:pointer;
	overflow:hidden;
}

.gridlines {
	position:absolute;
	background-color:#333;
}

#panel {
	position:absolute;
	top:0;left:0;
	background-color:#aaa;
	width:0;height:0;
}

.hoverCell {
	position:absolute;
	background-color:#fff;
	opacity: .3;
}

.feature {
	position:absolute;

}