<% layout('layout.ejs') -%>
<% script('https://raw.github.com/caleb531/jcanvas/master/jcanvas.min.js') -%>
<% script('/socket.io/socket.io.js') -%>
<% script('/javascripts/server.js') -%>
<% script('/javascripts/game.js') -%>
<% script('/javascripts/server.js') -%>
<% script('/javascripts/matrix.js') -%>
<% script('/javascripts/avatar.js') -%>
<% stylesheet('/stylesheets/game.css') -%>

<br>
<div id="game"></div>
<!--
<canvas width="700" height="700" id="canvas"></canvas>
<br><br>


<img src="/images/sprites/ant1.png"  id="icon_ant">
<img src="/images/sprites/ant1.png"  id="icon_ant_walking_1">
<img src="/images/sprites/ant1s.png" id="icon_ant_walking_2">

-->