<% layout('layout.ejs') -%>
<% script('/javascripts/libs/jQueryRotate.min.js') -%>
<% script('/socket.io/socket.io.js') -%>
<% script('/javascripts/server.js') -%>
<% script('/javascripts/game.js') -%>
<% script('/javascripts/server.js') -%>
<% script('/javascripts/grid.js') -%>
<% script('/javascripts/creature.js') -%>
<% script('/javascripts/feature.js') -%>
<% stylesheet('/stylesheets/game.css') -%>


<div id="grid"></div>
<div id="panel">
<div id="position"></div>
</div>

<!--
<br><br>

<img src="/images/sprites/ant1.png"  id="icon_ant">
<img src="/images/sprites/ant1.png"  id="icon_ant_walking_1">
<img src="/images/sprites/ant1s.png" id="icon_ant_walking_2">
-->
